//Estrucura Header comun a todas las paginas de mi web//
.header{
    height: 10vh;
    padding: 0 2%;
    width: 96%;

    .logo{
        align-items: center;
        display: flex;
        height: 10vh;

        .logo-imagen{
            margin-right: 1rem;
            width: 5%;               
        }

        .logo-titulo {
            
            .h2{
                font-size: 2rem;
            }
        } 
    }

    .menu-opciones{
        
        margin-left: auto;
        width: 30%;

        .ul{
            align-items: center;
            display: flex;
            height: 10vh;
            justify-content: space-between;
            width: 100%;  
        }

        .ul .li{
            color: $p-basic-color;
            font-weight: 600;
        }
    }
}