:root{
  --color: #d29750;
  --white: #ffffff;
  --brown: #7B4201;
}

body{
  font-family: 'Amatic SC', cursive;
}

nav{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-size: 60px;
/*   opacity: 0; */
}

li{
  margin-bottom: 1em;
  padding-left: 0.2em;
  color: white;
}

/* Burger */
#burger{
  position: absolute;
  width: 30px;
  padding: 10vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  z-index: 1;
  background: rgba(var(--color), 0.0);
}

i{
  display: block;
  margin-bottom: 4px;
  width: 100%;
  height: 4px;
  background-color: var(--color);
  border-radius: 2px;
}


/* Active state*/
.active{
  background: var(--color);
  transition: background 4s;
}

.active nav{
  opacity: 1;
}

.active i{
  background: var(--white);
  transition: background 4s;
}


/* 1. Transition body's opacity */

/* 2. Animate the entrance of menu items */

.active ul > li:nth-child(1){
  animation: flow 0.5s;
}
.active ul > li:nth-child(2){
  animation: flow 1s;
}
.active ul > li:nth-child(3){
  animation: flow 1.5s;
}
.active ul > li:nth-child(4){
  animation: flow 2s;
}


@keyframes flow{
  0%{
  transform: translate3d(70vw, 0, 0);
    opacity(0);
  }
  
  100%{
   transform: traslate3d(0, 0, 0);
    opacity(1);
  }
}

/* 3. Transition the :hover of the menu items*/

.active ul > li:hover{
  transform: scale(1.5);
  color: var(--color);
  background: white;
}
  
active ul > li:hover::before{
/*   position: absolute;
  transform: translate3d(-100%, 0, 0); */
}

/* EXTRA SPICY BONUS
---------------------------------------------------------
  4. Animate the burger menu icon
--------------------------------------------------------- */


.active #burger i:nth-child(1){
  animation: burger 350ms;
  animation-delay: 1s;
}
.active #burger i:nth-child(2){
  animation: burger 350ms;
  animation-delay: 1.35s;
}
.active #burger i:nth-child(3){
  animation: burger 350ms;
  animation-delay: 1.7s;
}


@keyframes burger{
  0%{
    transform: scale(1)
    rotate(0deg);
  }
  50%{
    transform: scale(2)
      rotate(180deg); 
  }
  100%{
    transform: scale(1)
      rotate(180deg);
  }
}

  
/* ---------------------------------------------------------
  5. Chain the delay of menu items' entrance
--------------------------------------------------------- */
