.checkout-summary{
    padding: 1vh;
    width: 80%;
}

.checkout-summary{
    padding: 1vh;
    width: 80%;
}

.summary-element-item{
    text-align: center;
    padding: 0 0;
    font-weight: 600;
}

.summary-title{
    background-color: #ffffff;
    border-style: solid;
    border-color: #ffffff;
    text-align: center;
    margin-top: 1.5rem;
    padding: 1vh 0;
}

.summary-title h3{
    color: blue;
    font-weight: 600;
}