/*productos*/

/* Para dar márgenes a una página asignamos un width menor de 100 y lo que sobra se lo damos a los padding*/
.products{
    margin-top: 2rem;
    padding: 0 5%;
    width: 90%;
}

.menu-visible li{
    padding: 0.5rem 0;
    font-size: 1.5rem;
}

.products-availability{
    margin-bottom: 2rem;
}

/* Para empujar una caja a un extremo le damos un width menor que 100 y un margin auto que usará todo el espacio sobrante como margen*/
.menu-productos{
    margin-left: auto;
    width: 50%;  
}

.products-categories{
    border-right: 1px solid #ffffff;
    border-width: 0.2rem; 
    width: 100%;
    height: 100%;
}

.products-categories-title h2{
    font-size: 2.5rem;
}

.product-mosaico{
    border: 0.5rem solid white;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    margin-bottom: 1rem;
}

.product-image{
    position: relative;
    z-index: 800;
}

.product-price{
    position: absolute;
    z-index: 1000;
    right: 0;
    top: 0;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 1.3em;
    z-index: 900; 
    padding: 0 1rem;
    background-color: #000000;
}

.product-caracterist{
    text-align: center;
    padding: 1rem 0 1rem 0;
    font-size: 2rem;
    font-weight: 600;
}

.product-button button{
    text-align: center;
    padding: 1rem 0 1rem 0;
    color: #ffffff;
    cursor: pointer;
    font-size: 2rem;
    font-weight: 600;
    border: 0.18rem solid #1C6EA4; 
    background:#1666A4;
    background: linear-gradient(to right, #1666A4 0%, #2388CB 50%, #39CAEA 100%);
}

.products-avail-categories > .products-availability-items p{
    font-size: 1.5rem;
}

 .menu-productos > ul{
    font-size: 1.2rem;
}