/*header*/

header{
    height: 10vh;
    padding: 0 2%;
    width: 96%;
}

.logo {
    align-items: center;
    display: flex;
    height: 10vh;
}

.logo .logo-imagen{
    margin-right: 1rem;
    width: 5%;
}