.amount-quantity{ /*Se uso flex/justify-content: center para ajustar los elementos contenidos en forma de fila */
    display: flex;
    justify-content: center;

    .quantity-minos, 
    .quantity-plus{ /*esta forma de codigo permitio modificar una propiedad comun de estos dos 
                    elementos con mismop valor */
        width: 20%;
    }
    
    .quantity-plus button{ /*Se eliumino el borde y se redondearon los botones asignando radios*/
        border: none;
        border-top-right-radius: 0.4rem;
        border-bottom-right-radius: 0.4rem;    
    }
    
    .quantity-minos button, 
    .quantity-plus button{
        color:$s-basic-color;
        font-weight: 600;
        height: 100%;
        padding: 0.1rem 0 0.1rem 0;
        cursor: pointer; /*esta propiedad hace cambiar la forma del puntero del raton cuando pasamos por encima del boton*/
    }
    
    .quantity-minos button{
        border: none;
        border-top-left-radius: 0.4rem;
        border-bottom-left-radius: 0.4rem;
    }
    
    .quantity-item{
        width: 20%;                     
    }
    
    .quantity-item input{ /*se especifico sus medidad, se asigno un 
        color predeterminado y se configuro el alineamiento del texto mostrado por el cuadro*/
        border: 0;
        height: 100%;
        color: $s-basic-color;
        text-align: center;
        width: 100%;
    } 

}