.slider{
    .slider{
        position: relative;
        width: 100%;

        .slider-imagen{
            position: absolute;
            z-index: $z-index-slider-image;

        }
            
        .slider-titulo{
            background-color: $s-basic-color;
            padding: 0.5rem 1rem;
            position: absolute;
            z-index: $z-index-featured-elements;
            left: 10%;
            top: 30vh;

            .h1{
                color: $p-basic-color; 
            }
                
        }

        .slider-boton{
            position: absolute;
            z-index: $z-index-featured-elements;
            left: 10%;
            top: 40vh;
            font-family: "Ubuntu", sans-serif;
            font-size: 1.3em;
        }
    }
}