.slider{ /*El slider nos permite usar el ancho total de la pagina para presentar una imagen como fondo,
        en la cual podremos posicionar diferentes elementos (en nuestro caso texto y un boton) que permitiran 
        al usuario interacionar con nuestra web */
    position: relative; /*Posicion relativa especifica de un elemento lo posiciona detras de cualquier otro elemento
                        y es ubicado en una posicon especifica dentro de la pagina */
    width: 100%;

    .slider-imagen{
        position: absolute; /*Posicion absoluta especifica de un elemento lo posiciona delante de cualquier otro elemento
                            y es ubicado en una posicon especifica dentro del elemento*/
        z-index: $z-index-slider-image; /*z-index nos indica la "profundidad" o "capa" donde se situa un elemento.
                                        pueden usarse diferentes valores (-1, 1, 2 ó 1000, 1001, 1002) para indicar las capas.
                                        sin embargo, siempre debe darse el valor mas bajo al elemento que se usa en el fondo 
                                        y el mas alto al elemento que se quiere sobre el. En este caso $z-index-slider-image = 1000*/
    }
        
    .slider-titulo{
        background-color: $s-basic-color; /*$s-basic-color:  hsla(0, 0%, 0%, 0.22), equivale al color negro, un atributo que se usara en diferentes lugares de nuestra web*/
        position: absolute;
        z-index: $z-index-featured-elements; /*el valor "$z-index-featured-elements", en este caso, se refiere a la variable configuradas por el usuario
                                                para asignar un valor de 1001 a este elemento. Esta variable podra usarse en otros sitios de la web al ser generico*/
        left: 10%;
        top: 30vh;

        .h1{
            color: $p-basic-color; /*$p-basic-color: hsl(0, 0%, 100%) equivale al color blanco, un atributo que se usara en diferentes lugares de nuestra web */
        }
            
    }

    .slider-boton{
        position: absolute;
        z-index: $z-index-featured-elements;
        left: 10%; /*posicion horizontal absoluta dentro contenedor slider*/
        top: 40vh; /*posicion vertical absoluta dentro contenedor slider*/
        font-family: "Ubuntu", sans-serif; /*Es la fuente que usaremos en los textos. En este caso la fuente debe descargarse de Google fonts, indicandolo en la seccion <head> de cada una de nuestras paginas */
        font-size: 1.3em;
    }
}
